.panel {
  width: 320px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.settingSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settingHint {
  font-size: 12px;
  color: var(--colorNeutralForeground3);
}

.settingsButton {
  margin: 8px;
}